<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="col-md-12 col-xl-4">
        <div class="card yearly-sales">
          <div class="card-block">
            <h6 class="mb-4">Yearly Sales</h6>
            <div class="row d-flex align-items-center">
              <div class="col-9">
                <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i
                    class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>$
                  8.638.32</h3>
              </div>
              <div class="col-3 text-right">
                <p class="m-b-0">80%</p>
              </div>
            </div>
            <div class="progress m-t-30" style="height: 7px;">
              <div class="progress-bar progress-c-theme" role="progressbar" style="width: 70%;"
                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      <!-- </div>   -->
</body>
</html>